* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
typography
*/
body {
  font-family: 'Fredoka', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e53170;
  padding-top: 30px;
  padding-bottom: 60px;
}

main {
}

.schede > .blocco {
  float: left;
  width: calc(100% / 3 - 20px);
  background-color: #0f0e17;
  margin: 10px;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

[alt*='male'] {
  height: 100px;
  width: 100px;
  display: block;
}
